﻿<%@ Page Title="" Language="C#" MasterPageFile="~/UI/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TransportManagerUI.UI._default" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>


<asp:Content ID="Content1" ContentPlaceHolderID="cphHeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphMainContent" runat="server">
    <asp:Image ID="Image1" runat="server" AlternateText="Tiger Cement" 
        ImageUrl="~/Images/banner-aboutus-3.jpg" Height="400px" Width="890px" />   
</asp:Content>
