﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="TransportManagerUI.UI.Site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
    <title>Welcome to Transport Management </title>
    
    <script src="../Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="../Scripts/ddaccordion.js" type="text/javascript"></script>
    <script src="../Scripts/CustomAccordion.js" type="text/javascript"></script>
    <script src="../Scripts/CommonJavaScripts.js" type="text/javascript"></script>
        
    <script src="../Scripts/jquery-jtemplates.js" type="text/javascript"></script>
    <script src="../Scripts/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>

    <script src="../Scripts/jquery.ui.timepicker.js" type="text/javascript"></script>
    <script src="../Scripts/gvScrolling.js" type="text/javascript"></script>

    <link href="../Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/AccordionStyle.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/demos.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />

    <link href="../Styles/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />

    <asp:ContentPlaceHolder ID="cphHeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
<%-- /*onload="window.history.forward();"*/--%>
    <form id="Form1" runat="server"  >
        <asp:ScriptManager ID="scrDIMS" runat="server">
        </asp:ScriptManager>
      
     <div style="width:100%;text-align:center;">
           <div style="width:95%;margin-left:auto;margin-right:auto; background-color:#ffffff;">
                <div style="text-align:left;height:120px;">
                    <img src="../Images/HeaderMainJPG.png" alt="Transport Contract Management" 
                        style="text-align:left;" height="120"/>
                </div>
                <div class="headerLine">
                    <br />
                </div>
                <div style="text-align:left;float:left; height:300px;margin-top:3px;">
                <div style="font-size: small; font-weight: normal; color: #FF0000; text-align: left; padding-right: 5px;">
                   <asp:Literal ID="litMessage" runat="server"></asp:Literal>
                </div>
                 
                    <div class="glossymenu">
                    <a class="menuitem" href="Default.aspx">Home</a>
                    <a class="menuitem submenuheader" href="#">Basic Information</a>
                    <div class="submenu">
	                    <ul>
                            <li><a href="ChartofAccounts.aspx">Chart of Accounts</a></li>
                            <li><a href="DealerInfo.aspx">Dealer</a></li>
                            <li><a href="CustomerInfo.aspx">Customer</a></li>
                            <li><a href="ProductInfo.aspx">Product</a></li>
                            <li><a href="Ghat.aspx">Ghat</a></li>
                            <li><a href="DriverInfo.aspx">Employee/Driver</a></li>
                            <%--<li><a href="HiredDriverInfo.aspx">Hired Driver</a></li>--%>
                            <li><a href="VehicleInfo.aspx">Vehicle</a></li>
                            <li><a href="HiredVehicle.aspx">Hired Vehicle</a></li>
                            <li><a href="VehicleAgent.aspx">Transport Agent</a></li>
                          
                           
	                    </ul>
                    </div>
                   
                     <a class="menuitem submenuheader" href="#" runat="server" id="Admin">Admin Panel</a>
                    
                
                    <div class="submenu" runat="server" id="divadmin">
	                    <ul>
                            
                            <%--<li><a href="Roles.aspx">Roles</a></li>
                            <li><a href="Menu.aspx">Menu</a></li>--%>
                            <li><a href="AssignMenuToRole.aspx">Assign Roles Menu</a></li>
                            <li><a href="AddUser.aspx">Add User</a></li>
                            
                            
	                    </ul>
                    </div>
                   
                    <a class="menuitem submenuheader" href="#">Transaction</a>
                    
                
                    <div class="submenu">
	                    <ul>
                           <li><a href="TripStatusReport.aspx">Vehicle Status</a></li>
                            <li><a href="PendingDOList.aspx">Do Information</a></li>
                            <li><a href="PendingTCList.aspx">Transport Contact</a></li>
                            <li><a href="PendingTripInfo.aspx">Trip Advice</a></li>
                            <li><a href="PendingMovementInfo.aspx">Movement Info</a></li>
                            <li><a href="FuelSlip.aspx">FuelSlip</a></li>
                            <li><a href="PendingTripForVoucher.aspx">Voucher</a></li>
                            
                            
	                    </ul>
                    </div>
                    
                    <a class="menuitem submenuheader" href="#">Reports</a>
                    
                    <div class="submenu">
                   
                        <ul>
                              
                        <li><a href="dotcreport.aspx">Do And TC Report</a></li>
                            <li><a href="TripReports.aspx">Trip Reports</a>
                           
                            </li>
                          
                            <li><a href="VoucherReports.aspx">Voucher Reports</a></li>
                            
                           
	                    </ul>
                       
                    </div>
                    
                    
                    <asp:LinkButton ID="mnuLogOut" class="menuitem" runat="server" 
                            onclick="mnuLogOut_Click">Logout</asp:LinkButton>
                    <a class="menuitem" href="#" style="border-bottom-width: 0">Help</a>		
                    </div>
                </div>
                
                <div style="margin-left:180px; border-left:5px solid #DDDD00;  margin-top:20px; font-size:12px; font-family: 'Courier New', Courier, monospace;">
                
                    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <ContentTemplate>

                            <asp:ContentPlaceHolder ID="cphMainContent" runat="server">
                            </asp:ContentPlaceHolder>
                                                    
                        </ContentTemplate>
                    </asp:UpdatePanel>
                    <asp:UpdateProgress ID="UpdateProgress1" runat="server" AssociatedUpdatePanelID="UpdatePanel1" >
                          <ProgressTemplate>
                                <div class="UpdateProgress">
                                    <img src="../Images/ajax-loader.gif" alt="Processing..."/>
                                </div>
                              
                              <%--<input id="btnCnclMaster" 
                                     type="button" 
                                     value="cancel" 
                                     onclick="CancelAsyncPostBack()" />--%>
                          </ProgressTemplate>
                    </asp:UpdateProgress>
                </div>
    
                <div class="clear"></div>
                </div>
                <div class="footer1">
                <br />
                        Copyright 2017. ©Tiger Cement 
                </div>
             </div>
       
    </form>
</body>
</html>